



[Default]
unityProjectFilepath: C:\Users\theod\Master_project
unityEnvironmentName: botLocomotion
unityEnvironmentVersion: 1.0
buildPath:%(unityProjectFilepath)s\Builds
exeFilepath: %(buildPath)s\%(unityEnvironmentVersion)s\%(unityEnvironmentName)s.exe
configFilepath: %(unityProjectFilepath)s\Pythonscripts\configs\NEATconfig
simulationSteps: 1000
# Simulationsteps takes 50 steps per second; 50step*Hz*20sec = 1000 steps
unitySeed: 5
PythonSeed: 5
processingMode: 3
# Modes: 1:serial, 2:list-based parallel, 3:starmap-based parallel
# parallelWorkers: 8
numberOfGenerations: 21
simulationTimeout: 120
# Timeout uses seconds
generationsBeforeSave: 1
resultsFolder: %(unityProjectFilepath)s\Populations
useSpecificCheckpoint: False
# Specific Checkpoint will overwrite natural checkpoint being last generation
populationFolder1: %(resultsFolder)s\%(unityEnvironmentVersion)s\popcount
populationFolder2: _simlength%(simulationSteps)s
# PopulationCount: needs to be added between populationFolder 1 and 2 in-script
# because it is drawn from the NEATconfig file