[Default]
unityProjectFilepath: /fp/homes01/u01/ec-theodoma/master_project
unityEnvironmentName: botLocomotion
unityEnvironmentVersion: 1.0
buildPath:%(unityProjectFilepath)s/build
fileendingFormat:.x86_64
exeFilepath: %(buildPath)s/%(unityEnvironmentName)s%(fileendingFormat)s
configFilepath: %(unityProjectFilepath)s/pythonscripts/configs/NEATconfig
simulationSteps: 1000
# Simulationsteps takes 50 steps per second; 50step*Hz*20sec = 1000 steps
unitySeed: 5
PythonSeed: 5
processingMode: 3
# Modes: serial, list-based parallel, starmap-based parallel
# parallelWorkers: 12
numberOfGenerations: 21
simulationTimeout: 120
# Timeout uses seconds
generationsBeforeSave: 1
resultsFolder: %(unityProjectFilepath)s/Populations
useSpecificCheckpoint: False
# Specific Checkpoint will overwrite natural checkpoint
populationFolder1: %(resultsFolder)s/%(unityEnvironmentVersion)s/popcount
populationFolder2: _simlength%(simulationSteps)s
# populationCount needs to be added between populationFolder 1 and 2
