



[Default]
unityProjectFilepath: /fp/homes01/u01/ec-theodoma
unityEnvironmentName: build
unityEnvironmentVersion: 8.1
buildPath:%(unityProjectFilepath)s/build
exeFilepath: %(buildPath)s/%(unityEnvironmentName)s.x86_64
configFilepath: %(unityProjectFilepath)s/pythonscripts/configs/NEATconfig
simulationSteps: 600
# Simulationsteps takes 20 steps per second; 30*20= 600
unitySeed: 5
PythonSeed: 5
processingMode: 3
# Modes: serial, list-based parallel, starmap-based parallel
# runMode: 1, 
# Modes: Train, Demonstrate genome, Demonstrate physics, make PDF
# parallelWorkers: 12
numberOfGenerations: 100001
simulationTimeout: 120
# Timeout uses seconds
generationsBeforeSave: 1
resultsFolder: %(unityProjectFilepath)s/Populations
useSpecificCheckpoint: False
# Specific Checkpoint will overwrite natural checkpoint
populationFolder1: %(resultsFolder)s/%(unityEnvironmentVersion)s/popcount
populationFolder2: _simlength%(simulationSteps)s
# populationCount needs to be added between populationFolder 1 and 2
